.main-text {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 28px;
    color:#0C3B69;
    text-shadow: 0 0 1px rgba(51,51,51,0.5);
}

.main-text-gray {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 28px;
    color:#6C6D70;
    text-shadow: 0 0 1px rgba(51,51,51,0.5);
}

.simple-text {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 28px;
    color:#0C3B69;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav-bar {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    color:#0C3B69;
}

.main-button {
    position: relative;
    left: 0px;
    top: 0px;
    display: block;
    border-radius:5px;
    -moz-border-radius:5px;
    border: 1px solid #002E5E;
    width: 265px;
    height: 170px;
    text-align: center;
    padding-top: 10px;
    -moz-box-shadow: 2px 2px 5px #6C6D70;
    -webkit-box-shadow: 2px 2px 5px #6C6D70;
    box-shadow: 2px 2px 5px #6C6D70;

    background: #e8ebf2;
    background: -moz-linear-gradient(-45deg,  #e8ebf2 0%, #fefefe 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#e8ebf2), color-stop(100%,#fefefe));
    background: -webkit-linear-gradient(-45deg,  #e8ebf2 0%,#fefefe 100%);
    background: -o-linear-gradient(-45deg,  #e8ebf2 0%,#fefefe 100%);
    background: -ms-linear-gradient(-45deg,  #e8ebf2 0%,#fefefe 100%);
    background: linear-gradient(135deg,  #e8ebf2 0%,#fefefe 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8ebf2', endColorstr='#fefefe',GradientType=1 );
    z-index: 2;

}

.background-logo {
    position: relative;
    left: 195px;
    top: -60px;
    z-index: 1;
}

body {
    background: #EEF0F7;
}


/* Cambiamos el fondo de la pantalla en las ventana modales de boostrap */
.modal-backdrop {background-color: #F8F8F8;}


.marco {
    background: #FFFFFF;
    box-shadow: 2px 2px 5px #6C6D70;
    border-radius:5px;
    background-image: url('../img/icons/gva_escudo.png');
    background-position: bottom right;
    background-repeat: no-repeat;
    padding-top: 2em;
    padding-bottom: 4em;
    padding-left: 2em;
    padding-right: 2em;
}

.cabecera {
    background-image: url('../img/icons/logo_instituto.png');
    background-position: top left;
    background-repeat: no-repeat;
}

.cuerpo {
    padding-top: 2em;
}

.items_encuesta {
    padding-top: 10px;
}

.items_encuesta  li {
    list-style: none;
}


.checkbox {
    width: 34px;
    height: 34px;
}

input[type=checkbox] {
  position: absolute;
  left: -9999px;
}

input[type=checkbox] + label {
    width: 34px;
    height: 34px;
    background-image:  url('../img/icons/field_check2.png');
    background-repeat: no-repeat;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 28px;
    color:#0C3B69;
    cursor: pointer;
    padding-top: 6px;
}


.radiobutton {
    width: 34px;
    height: 34px;
}

input[type=radio] {
  position: absolute;
  left: -9999px;
}

input[type=radio] + label {
    width: 34px;
    height: 34px;
    background-image:  url('../img/icons/field_radio2.png');
    background-repeat: no-repeat;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 28px;
    color:#0C3B69;
    cursor: pointer;
    padding-top: 6px;
}

.uncheckedd {
    background-position: px 0;
}

.checkedd  {
    background-position: -34px 0;
}

.dropdownlist {
  position: absolute;
  left: -9999px;
}


div.ajax-wait {
  position: fixed;
  display: none;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  background-image: url('../img/ajax-wait.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  border: 1px solid #0088cc;
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
  z-index:10000;
}